.flex-container {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    overflow-x:auto;
}


#year {
    text-align: center;
    font-size: 3rem;
    font-weight: bolder;
    margin-top: 20px;
}

.month {
    text-align: center;
}

#selections {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


#boro {
    margin-right: 25px;
}

#shift {
    margin-right: 20px;
}

#selectgroup {
    margin-right: 25px;
    margin-left: 10px;
}

#selectyear {
    margin-right: 35px;
    margin-left: 10px;
}


@media (max-width: 500px) {
    .flex-container {
        display: block;
        min-block-size: 200px;
        
    }

    table {
        margin-left: auto;
        margin-right: auto;
    }
    
}
