.flex-container {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}


#year {
    text-align: center;
    font-size: 3rem;
    font-weight: bolder;
    margin-top: 20px;
}

.month {
    text-align: center;
}

#selections {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


#boroselection {
    margin-right: 25px;
}

#hourselection {
    
}

#groupselection {
    margin-right: 25px;
    margin-left: 10px;
}

#yearselection {
    margin-right: 25px;
    margin-left: 10px;
}

@media (max-width: 500px) {
    .flex-container {
        display:block;
    }
    
    h1 {
        font-size: 15px;
    }
    table {
        font-size 12px;
    }

    div {
        height: 100px;
        width: 100px;
    }
    
}
